*.py[cod]

# C extensions
*.so
*.pyc

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.ropeproject
.idea
.settings
*.log
tornado_api
api/pycallgraph.png
*.DS_Store
v25
api/api.html
*#
.#*
pyenv
api/API_Documentation.md
